.photo-grid {
  display: grid;
  justify-content: space-between;
  max-width: 1184px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
  gap: 16px;
  margin: 0 auto 92px;
  padding: 0 48px;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(225px, 1fr));
    max-width: 928px;
    grid-gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(264px, 1fr));
    max-width: 720px;
    grid-gap: 16px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(216px, 1fr));
    max-width: 288px;
    grid-gap: 12px;
    padding: 0 16px;
  }
}