.header {
  display: flex;
  justify-content: space-between;
  margin: 28px auto;
  margin-bottom: 56px;
  width: calc(100% - 96px);
  max-width: 1184px;
  align-items: end;
}


@media screen and (max-width: 1279px) {
  .header {
    margin-bottom: 48px;
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 1023px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin: 16px auto;
    width: calc(100% - 32px);
  }
}