.place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0 0 26px;
    max-width: 484px;
}

@media screen and (max-width: 1279px) {
    .place__paragraph {
        max-width: 456px;
        margin: 0 0 27px;
    }
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        max-width: 352px;
        margin: 0 0 25px;
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        max-width: 288px;    
        margin: 0 0 25px;
        font-size: 16px;
        line-height: 26px;
    } 
}