.place__website {
    grid-row: 1;
    grid-column: 2; 
    align-self: end;
    justify-self: start;
    margin: 0;
    padding: 0;
    max-width: 456px;
}

@media screen and (max-width: 1023px) {
    .place__website {
        max-width: 352px;    
    }
}

@media screen and (max-width: 767px) {
    .place__website {
        max-width: 288px;
        padding-left: 16px;
        margin-bottom: 32px;
        align-self: self-start;
    }
}